* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
header {
    width: 100%;
    height: 14rem;
    background-color: aqua;
    padding: 1rem;
}
nav {
    display: flex;
}
.fig-icon{
    width: 4rem;
    height: 4rem;
}


.container-ul li {
    font-size: 2.4rem;
    list-style: none;
}